* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url(../images/background.jpeg);
  background-repeat: no-repeat;
}

#scoreboard {
  position: absolute;
  z-index: 10;
  color: white;
  margin-top: 1%;
  margin-left: 1%;
  font-family: monospace;
  font-size: 20px;
}

#start-screen {
  position: relative;
}

#canvas {
  display: none;
}

#scoreboard {
  display: none;
}

#restart {
  display: none;
}

#points-gathered {
  display: flex;
  z-index: 10;
  color: white;
  margin-top: 1%;
  margin-left: 1%;
  font-family: monospace;
  font-size: 25px;
}
