* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url(../images/background.jpeg);
  background-repeat: no-repeat;
}

#scoreboard {
  position: absolute;
  z-index: 10;
  color: white;
  margin-top: 1%;
  margin-left: 1%;
  font-family: "ArcadeClassic", sans-serif;
  font-size: 25px;
}

#start-screen {
  position: relative;
}

#canvas {
  display: none;
}

#scoreboard {
  display: none;
}

#restart {
  display: none;
}

#points-gathered {
  display: flex;
  z-index: 10;
  color: white;
  margin-top: 1%;
  margin-left: 1%;
  font-family: "ArcadeClassic", sans-serif;
  font-size: 40px;
}

#reset-picture {
  font-family: "ArcadeClassic", sans-serif;
  font-size: 40px;
}

#reset-picture > img {
  max-width: 200px;
}
#start-button {
  border: 0 solid;
  border-radius: 15%;
}

#logo {
  border-radius: 15%;
  transition: transform 0.2s;
}
#logo:hover {
  transform: scale(1.2);
}
